<div class="w-full relative">
  <img
    class="absolute top-10 z-10 w-[1000px] left-0 right-0 m-auto"
    src="/public/logo-home.svg"
    alt="logo"
  />
  <video
    class="w-full h-screen object-cover object-top animate-ease-in-out animate-fade animate-duration-1000"
    src="/public/video.mp4"
    autoplay
    loop
    muted
    style="clip-path: polygon(1% 2%, 100% 1%, 100% 71%, 50% 100%, 50% 100%, 0 73%)"
  ></video>
  <video
    class="absolute -bottom-48 blur-3xl -z-40"
    src="/public/video.mp4"
    autoplay
    loop
    muted></video>
</div>
